.divFormCreate{
    align-items: center;
    justify-content: center;
    display:flex;
   
    
}
  
  .formCreate {
   
    border-radius: 20px;
    box-sizing: border-box;
    height: auto;
    margin-top: 5rem;
    margin-left: 2rem;
    padding: 20px;
    width: 80%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(34, 34, 34, 0.558);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    filter: drop-shadow(0 30px 10px rgba(7, 8, 8, 0.125));
      
    
  }
  
  .title {
    color:#9378fe;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  .subtitle {
    color: rgb(0, 85, 16);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
  }

  .messageValidation {
    color: #9378fe;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 350;
    text-align: center;
  }
  
  .input-container {
    height: 50px;
    position: relative;
    width: 100%;
   
  }
  
  .ic1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  
  
  
  .input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #9378fe;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;
  }
  

  
 
  
  .placeholder {
    color: #8fe18f;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
  }
  
  
 
 
  
  .submit {
    background-color: rgb(79, 0, 197);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #b3bb25;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
  }
  
  .submit:active {
    background-color: rgb(0, 85, 16);
  }
  
  
  
  
  
/*
con esta media query añado margin en la parte superior para que no solapen la descripcion del campo 
con el mensaje de validacion
*/
  @media screen  and (max-width: 700px) {

    .input-container {
      margin-top:4rem;

    }
    
  }