


.containerDetail{
    display: flex;
    width: 85%;
    height: 50%;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 12, 11, 0.74);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);  
    padding: 38px;  
    filter: drop-shadow(0 30px 10px rgba(7, 8, 8, 0.125));
    margin: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    flex: 0 1 calc(50% - 1em);


}

.imgWrapper{
    width: 50%;
    height:100%;

}
.imgDetail{
    width: 100%;
    border-radius: 50%;
}

.infoDetail{
    width: 50%;
    height: 200%;
}